/* General Blueprint Style */
/*@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);*/

@font-face {
	font-family: 'fontawesome-webfont';
	src:url('../fonts/font-awesome/fonts/fontawesome-webfont.eot');
	src:url('../fonts/font-awesome/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/font-awesome/fonts/fontawesome-webfont.woff') format('woff'),
		url('../fonts/font-awesome/fonts/fontawesome-webfont.ttf') format('truetype'),
		url('../fonts/font-awesome/fonts/fontawesome-webfont.svg#bpicons') format('svg');
	font-weight: normal;
	font-style: normal;
} /* Made with http://icomoon.io/ */

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #3C4144;
    background-color: #F3F3F3
}

a {
	color: #47A3DA;
	text-decoration: none;
	outline: none;
}

a:hover {
	color: #000;
}

.container > header {
	width: 90%;
	max-width: 69em;
	margin: 0 auto;
	padding: 2.875em 1.875em 1.875em;
}

.container > header h1 {
	font-size: 2.125em;
	line-height: 1.3;
	margin: 0 0 0.6em 0;
	float: left;
	font-weight: 400;
}

.container > header > span {
	display: block;
	position: relative;
	z-index: 9999;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	padding: 0 0 0.6em 0.1em;
}

.container > header > span span:after {
	width: 30px;
	height: 30px;
	left: -12px;
	font-size: 50%;
	top: -8px;
	font-size: 75%;
	position: relative;
}

.container > header > span span:hover:before {
	content: attr(data-content);
	text-transform: none;
	text-indent: 0;
	letter-spacing: 0;
	font-weight: 300;
	font-size: 110%;
	padding: 0.8em 1em;
	line-height: 1.2;
	text-align: left;
	left: auto;
	margin-left: 4px;
	position: absolute;
	color: #fff;
	background: #47a3da;
}

.container > header nav {
	float: right;
	text-align: center;
}

.container > header nav a {
	display: inline-block;
	position: relative;
	/*text-align: left;*/
	/*font-size: 20px;*/
	width: 35px;
	height: 35px;
	/*background: #fff;*/
	border-radius: 50%;
	margin: 0 0.1em;
	padding: 7px 6px 5px 7px;
	border: 2px solid #47a3da;
}

.container > header nav a > span {
	/*display: none;*/
}

.container > header nav a:hover:before {
	content: attr(data-info);
	/*color: #47a3da;*/
	position: absolute;
	/*width: 600%;*/
	/*top: 120%;*/
	/*text-align: right;*/
	/*right: 0;*/
	pointer-events: none;
}

.container > header nav a:hover {
	background: #47a3da;
}

.bp-icon:after {
	font-family: 'fontawesome-webfont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-align: center;
	color: #47a3da;
	-webkit-font-smoothing: antialiased;
}

.container > header nav .bp-icon:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	line-height: 2;
	text-indent: 0;
}

.container > header nav a:hover:after {
	color: #fff;
}

.bp-icon-next:after {
	content: "\e000";
}
.bp-icon-drop:after {
	content: "\e001";
}
.bp-icon-archive:after {
	content: "\e002";
}
.bp-icon-about:after {
	content: "\e003";
}
.bp-icon-prev:after {
	content: "\e004";
}

p.info {
	text-align: center;
	padding: 20px;
}

@media screen and (max-width: 55em) {

	.container > header h1,
	.container > header nav {
		float: none;
	}

	.container > header > span,
	.container > header h1 {
		text-align: center;
	}

	.container > header nav {
		margin: 0 auto;
	}

	.container > header > span {
		text-indent: 30px;
	}
}

/* New Code here */

#main_wrap {
/*border:2px solid blue;*/
    /*margin: 0px auto;*/
    /*max-width: 1150px;*/
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
}

#content{
    width:17.5em;
    /*height: 100%;*/
    /*margin-right:300px;*/
    float: left;
    position: auto;
    padding: 15px;
}

#sidebar{
        /*background:red;*/
    float: right;
    padding: 15px;
    /*min-height: 100%*/
    max-width: 1050px;
    /*height:auto;*/
    /*background:#66CC33;*/
 }

.footer {
  position: relative;
  z-index: 100;
  padding: 20px 0 0 0;
  background: #2b3442;
  color: #a4b3cd;
  text-align: center;
  font-size: 14px;
  font-family: "AvenirNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .footer a {
    color: #e2eeff;
    opacity: 1;
    transition-property: color; }
    .footer a:hover {
      color: white; }
  .footer .base-links dl {
    float: left;
    margin: 0;
    padding: 15px 5px 20px 5px;
    width: 33%;
    /*text-align: left;*/
    font-size: 0.9em; }
  .footer .base-links dl:first-child {
    padding-left: 0; }
  .footer .small-break {
    clear: both; }
  @media (min-width: 768px) {
    .footer .base-links dl {
      /*padding-left: 0;*/
      /*width: 20%;*/
      font-size: 1em; }
    .footer .small-break {
      clear: none; } }
  .footer .base-links {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1170px; }
  .footer .base-links dt, .footer .newsletter-text {
    margin: 0;
    padding-bottom: 10px;
    color: #e2eeff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 13px;
    font-family: "AvenirNextLTPro-Medium", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .footer .newsletter-text {
    padding-bottom: 4px; }
  .footer .base-links dd {
    margin: 5px 0;
    font-size: 13px; }
  .footer .base-links a {
    display: block;
    padding: 5px 0;
    color: #a4b3cd; }
    .footer .base-links a:hover {
      color: #dde9ff;
      text-decoration: none; }
  .footer .copy {
    padding: 18px;
    background: #202532; }
  .footer .copy-container {
    margin: 0 auto;
    max-width: 1170px; }
  @media (min-width: 630px) {
    .footer .copy-container {
      background: url(/img/drifty-footer-logo.png) no-repeat 0 1px;
      background-size: 128px 32px; } }
  .footer .authors {
    margin: 0;
    padding: 10px;
    color: #858f9e;
    text-align: right;
    font-size: 13px; }
    .footer .authors a {
      color: #a3aec0; }
    .footer .authors span {
      padding: 0 15px; }
  .footer .newsletter {
    clear: both;
    margin: 0 auto 30px;
    max-width: 1170px;
    border-top: 1px solid #555f6e; }
  .footer .newsletter-container {
    margin-top: 30px;
    /*text-align: left; */
}
    .footer .newsletter-container .sign-up {
      padding-bottom: 10px;
      color: #a4b3cd;
      font-size: 13px; }
    .footer .newsletter-container .col-sm-7 {
      padding-left: 15px; }
    .footer .newsletter-container .col-sm-5 {
      padding-right: 15px; }
    @media (min-width: 900px) {
      .footer .newsletter-container .col-sm-7 {
        padding-left: 0; }
      .footer .newsletter-container .col-sm-5 {
        padding-right: 0; } }
    .footer .newsletter-container input {
      border: none;
      background: #45546D;
      color: white; }
      .footer .newsletter-container input:focus {
        background: #51627E;
        -webkit-box-shadow: none;
        box-shadow: none;
        box-shadow: inset 0px 0px 0px 1px #4E8EF7; }
      .footer .newsletter-container input::-webkit-input-placeholder {
        color: #8e9fb8; }
      .footer .newsletter-container input::-moz-placeholder {
        color: #8e9fb8; }
    .footer .newsletter-container button {
      padding-right: 15px;
      padding-left: 15px;
      border: 1px solid #4e8ef7;
      background: #4e8ef7;
      box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
      color: white; }
      .footer .newsletter-container button:hover {
        background: #5998FF;
        color: white; }
      .footer .newsletter-container button:active {
        border: 1px solid #3E75CE;
        background: #4683E7;
        box-shadow: none;
        color: #B1C4E4; }

.pre-footer {
  position: relative;
  z-index: 100;
  padding: 40px;
  background: #EBF0F6; }
  .pre-footer h4 {
    color: #363b43;
    font-family: "AvenirNextLTPro-Medium", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .pre-footer .row {
    margin: 0 auto;
    max-width: 1170px; }
  .pre-footer p {
    color: #999;
    color: #737e90;
    font-size: 14px;
    font-family: "AvenirNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 28px; }
  .pre-footer a:hover {
    color: #4E8EF7;
    text-decoration: none; }
  .pre-footer span {
    padding-left: 5px; }
  .pre-footer .col-a {
    padding-bottom: 15px; }
  @media (min-width: 768px) {
    .pre-footer .col-a {
      padding-right: 60px;
      padding-bottom: 0;
      border-right: 1px solid #ddd; }
    .pre-footer .col-b {
      padding-left: 70px; } }

/* --- hohoho */


    .grid-container{
        width: 100%; 
        max-width: 1200px;      
    }

    /*-- our cleafix hack -- */ 
    .row:before, 
    .row:after {
        content:"";
          display: table ;
        clear:both;
    }

    [class*='col-'] {
        float: left; 
        min-height: 1px; 
        width: 16.66%; 
        /*-- our gutter -- */
        padding: 12px; 
        background-color: #FFDCDC;
    }

    .col-1{ width: 16.66%; }
    .col-2{ width: 33.33%; }
    .col-3{ width: 50%;    }
    .col-4{ width: 66.66%; }
    .col-5{ width: 83.33%; }
    .col-6{ width: 100%;   }

    .outline, .outline *{
        outline: 1px solid #F6A1A1; 
    }

    /*-- some extra column content styling --*/
    [class*='col-'] > p {
     background-color: #FFC2C2; 
     padding: 0;
     margin: 0;
     text-align: center; 
     color: white; 
    }

