    <div class="pre-footer">

      <div class="row ionic">
<center>
{% include adsense.html %}</center>
        </div>


    </div>

  <footer class="footer">

  <nav class="base-links">

    <dl>
      <dt>Merem.in</dt>
      <dd></dd>
    </dl>

    <dl>
      <dt>Merem.in</dt>
    </dl>

    <dl>
      <dt>Merem.in</dt>
      <dd></dd>
    </dl>


  </nav>

  <div class="newsletter row">

    <div class="newsletter-container">


    </div>

  </div>

  <div class="copy">
    <div class="copy-container">
      <p class="authors">
        &copy; 2015 <a href="http://merem.in/">Merem.in</a>
      </p>
    </div>
  </div>

</footer>
