<header class="clearfix">
  <h1><a href="{{ site.url }}"><img src="/img/logo.png"></a></h1>
    <nav>
      <a href="#"><i class="fa fa-heart-o"></i></a>
      <a href="#"><i class="fa fa-laptop"></i></a>
      <a href="#"><i class="fa fa-user-secret"></i></a>
      <a href="#"><i class="fa fa-heart"></i></a>
 <div class="searchbar">
            <form role="search" method="get" action="/search/">
                <input type="text" name="s" placeholder="Mesin pencari">
                <span class="icon">{% include icon-search.html %}</span>
            </form>
        </div>
    </nav>
</header> 