<div id="subscribe-box">

<form class="subscribe-form" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"><p>Get the latest in your Inbox</p><input type="text" style="width:70%" name="email" placeholder="email@example.com"/><input type="hidden" value="supercodingtips" name="uri"/><input type="hidden" name="loc" value="en_US"/><input type="submit" style="width:30%" value="Subscribe" /></form>
</div><br>