<!DOCTYPE html>
<html>
{% include head.html %}
  <body>
  <div class="container">
      {% include header.html %}
      <div id="tabs" class="tabs">
    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          
          {{ content }}

        </section>

        {% include sidebar.html %}
      </div>
    </div></div></div>
{% include footer.html %}
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55025d2e2abad190" async="async"></script>

  </body>

</html>