---
layout: masterpost
---

<h2>{{ page.title }}</h2>
<hr class="dot">
<p class="meta muted">
{% for category in page.categories %}
                <span class="meta-category font-slug"><a href="/category/{{ category | slugify }}/">{{ category | replace:'-', ' ' }}</a></span>
            {% endfor %}
{% assign author = site.data.authors[page.author] %}
{% if author %}
    <span class="font-slug">
        <!-- Personal Info. -->
        Oleh <a href="{{ author.web }}" target="_blank">{{ author.name }}</a>
    </span>
{% endif %} - <span class="font-slug"> {{ page.date | date_to_string }} </span></p>
{{ content }}
<p>
{% include share.html %}</p>
	<address>
    {% if author.image %}<img src="{{ author.image }}">{% endif %}
    	<p><strong><a rel="author" href="" title="{{ page.author_name }}" target="_blank">{{ author.name }}</a></strong><br>
        <span class="muted">{{ author.bio }}</span>
        </p>
    </address>
<p>
{% include comment.html %}</p>